<div class="jumbotron">
  <h1>Bespoke Suits for Dogs.</h1>
  <p>Because he deserves it.</p>
</div>

<h1>Digby wears his new bow tie. Iteration 5</h1>

<div class="row">
  <div class="col-md-8">
    <a href="#" class="thumbnail">
      <%= image_tag('digbyvanwinkle - boyfriend material.jpg') %>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <blockquote>
      <p>Digby's grace and style are exemplified by his use of bright colors and his salute to all things chambray.  Pop!</p>
      <small>John Smith in <cite title="Source Title">Pooch Fashion Monthly</cite></small>
    </blockquote>
  </div>
</div>

